<div class="container contenedor">
        <div class="row bg-light sub_cont">
            <div class="col-12 mb-3  col-md-4 coldely">
                <mat-card class="ico"><img src="../../../../assets/imagenes/entrega.png" alt="" class="img-fluid "></mat-card>
                <mat-card class="ico1"><img src="../../../../assets/imagenes/ojo.png" alt="" style="width:20px">  Detalles</mat-card>
                <mat-card class="ico2"><a href="">Delivery</a></mat-card>
            </div>
            
            <div class="col-12 mb-3  col-md-4 recv">
                <mat-card class="ico"><img src="../../../../assets/imagenes/reserva1.png" alt="" class="img-fluid "></mat-card>
                <mat-card class="ico1"><img src="../../../../assets/imagenes/ojo.png" alt="" style="width:20px">  Detalles</mat-card>
                <mat-card class="ico2"><a [routerLink]="['/cuerpo/servicios/reservas/reservasP1/piso0']">Reserva</a></mat-card>
            </div>
            <div class="col-12 mb-3  col-md-4 recv">
                    <mat-card class="ico"><img src="../../../../assets/imagenes/catering.png" alt="" class="img-fluid "></mat-card>
                    <mat-card class="ico1"><img src="../../../../assets/imagenes/ojo.png" alt="" style="width:20px">  Detalles</mat-card>
                    <mat-card class="ico2 "><a href="">Catering</a></mat-card>
                </div>
        </div>
    </div>
