<div class="d-inline-block separacion">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 abajo bg-dark" *ngFor="let combos of combos">
          <div class="card">
              <img class="card-img-top" src="assets/imagenes/b1.jpg" alt="Card image cap">
            <div class="card-body fondo">
              <h5 class="card-title text-center">{{combos.nombre.toUpperCase()}}</h5>
              <div class="col-xs-6 d-inline-block text-center">
                <h4 class="card-text ">Precio: </h4>
              </div>
              <div class="col-xs-6 d-inline-block float-right">
                <h5 class="card-text text-center text-white bg-dark"> <span class="h5 mr-3">S/</span>{{combos.precio}}</h5>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-6 d-inline-block text-center">
                    <p class="">Cantidad: <input type="number" name="Cantidad" value="1" min="1" list="listar" class="text-center"></p>
                    <datalist id="listar">
    
                      <option value="2">
                    
                      <option value="4">
                    
                      <option value="6">
                    
                      <option value="8">
                    
                    </datalist>
                  </div>
    
                </div>
              </div>
              <a class="btn btn-primary btn-lg btn-block" (click)="agregar(combos)"><img src="assets/imagenes/carta.ico" alt=""> Agrega Pedido</a>
            </div>
          </div>
        </div>
      </div>
    </div>


