
        <ul class="nav  mn0 d-block">
            <li class="nav-item  arg"><a [routerLink]="['/cuerpo/home']" class="nav-link">• Home<p class="float-right">♛</p></a></li>
            <li class="nav-item  arg"><a [routerLink]="['/cuerpo/nosotros']" class="nav-link">• Nosotros<p class="float-right">★</p></a></li>
            <li class="nav-item  arg"><a [routerLink]="['/cuerpo/servicios/presentacion-servicios']" class="nav-link">• Servicios<p class="float-right">➋</p></a></li>
            <li class="nav-item  arg"><a [routerLink]="['/cuerpo/contactos']" class="nav-link">• Contactos<p class="float-right">☎</p></a></li>
            <li class="nav-item  arg"><a [routerLink]="['/cuerpo/acceso/iniciar-sesion']" class="nav-link">• Iniciar sesión<p class="float-right">@</p></a></li>
            <li class="nav-item  arg"><a [routerLink]="['/cuerpo/home']" class="nav-link">• Calendario<p class="clearfix float-right "></p></a></li>
        </ul>
