.separacion{

    padding-top:0em; 
}
.abajo{
    padding-top: 1em;
}
.fondo{
    
    background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
   
}