<div class="container-fluid contenedor">
    <!--===============================================-->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  align-self-center col_a">
            <img class="img-fluid img_a" src="../../../../assets/imagenes/platof.jpg" alt="">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  informacion">
            <div class="descripcion img-fluid">
                <div class="borde_d">
                        <div class="titulo_d"><p>• Pollo Heróico</p></div>
                        <div class="contenido_d">
                            <p>
                            - 2 piezas de ala <br> 
                            - 2 piernas <br>
                            - 1 porción familiar de papas <br>
                            - 4 vasos de gaseosa <br>
                            </p>
                        </div> 
                </div>
            </div>
            <div class="boton_s"><a [routerLink]="['/cuerpo/servicios/reservas/reservasP2/todo']">Ordenar ya!   <img style="width: 36px" src="../../../../assets/imagenes/calendario.svg" alt=""></a></div>
        </div>
    </div>
    <!--===============================================-->
    <div class="row">
            <div class="col-12 order-2 order-md-1 col-sm-12 col-md-6 col-lg-6 col-xl-6 informacion">
                    <div class="descripcion img-fluid">
                            <div class="borde_d">
                                    <div class="titulo_d"><p>• Pollo Heróico</p></div>
                                    <div class="contenido_d">
                                        <p>
                                        - 2 piezas de ala <br> 
                                        - 2 piernas <br>
                                        - 1 porción familiar de papas <br>
                                        - 4 vasos de gaseosa <br>
                                        </p>
                                    </div> 
                            </div>
                    </div>
                <div class="boton_s"><a [routerLink]="['/cuerpo/servicios/reservas/reservasP2/todo']">Ordenar ya!   <img style="width: 36px" src="../../../../assets/imagenes/calendario.svg" alt=""></a></div>
            </div>
            <div class="col-12 order-1 order-md-2 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center col_a">
                <img class="img-fluid img_a" src="../../../../assets/imagenes/platof.jpg" alt="">
            </div>
    </div>
    <!--===============================================-->
     <!--===============================================-->
     <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center col_a">
                <img class="img-fluid img_a" src="../../../../assets/imagenes/platof.jpg" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 informacion">
                    <div class="descripcion img-fluid">
                            <div class="borde_d">
                                    <div class="titulo_d"><p>• Pollo Heróico</p></div>
                                    <div class="contenido_d">
                                        <p>
                                        - 2 piezas de ala <br> 
                                        - 2 piernas <br>
                                        - 1 porción familiar de papas <br>
                                        - 4 vasos de gaseosa <br>
                                        </p>
                                    </div> 
                            </div>
                    </div>
                <div class="boton_s"><a [routerLink]="['/cuerpo/servicios/reservas/reservasP2/todo']">Ordenar ya!  <img style="width: 36px" src="../../../../assets/imagenes/calendario.svg" alt=""> </a></div>
            </div>
        </div>
</div>
